@import "./theme/darkTheme";
@import "./theme/defaultTheme";

body{
  margin: 0;
  font-family: 'exo', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

#app{
  height: 100vh;
  position: relative;
}
.container{
  height: 100vh;
  position: relative;
}

// #003EFF -> #00FF9B